/* PUBLICATIONS LAYOUT */

body {
    background-color: rgb(255,255,249);
    color: black;
    font-family: "Roboto", sans-serif;
    transition: background-color 1s ease, color 0.5s ease;
}


.container {
    max-width: 800px;
    margin: 0 auto; 
    padding: 0 1rem; /* add horizontal padding for smaller screens */
}

.publication-page-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3rem; 
    text-align: center;
    text-decoration: underline;
}

.publication-item {
    display: flex;
    align-items: flex-start; 
    gap: 1.5rem; /* gap between image and details */
    margin-bottom: 2.5rem; 
}

.publication-media {
    flex-shrink: 0; /* prevents image from shrinking */
}

.publication-img { /* teaser image */
    width: 250px; 
    height: 130px; 
    object-fit: cover; /* ensures image covers the area without distortion */
    border-radius: 8px; /* rounds corners */
}

.publication-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.publication-info {
    font-size: 0.9rem;
    font-weight: 450;
    margin-bottom: 0.5rem; 
}

.publication-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem; 
}

.publication-authors {
    font-size: 0.9rem;
    margin-bottom: 0.5rem; 
}

/* LINKS - DOI/PDF/VIDEO */

.publication-links {
    display: flex;
    gap: 1rem; /* space between PDF, DOI, VIDEO links */
    margin-top: 0.5rem;
}

.publication-link {
    font-size: 0.9rem;
    color: #0073e6; 
    text-decoration: none;
}

.publication-link:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {   
    .publication-page-title {
        font-size: 2rem;
    }
    
    .publication-img { /* teaser image */
        width: 200px; 
        height: 120px; 
        object-fit: cover; /* ensures image covers the area without distortion */
        border-radius: 8px; /* rounds corners */
    }
    
    .publication-info {
        font-size: 0.7rem;
        font-weight: 450;
        margin-bottom: 0.5rem; 
    }
    
    .publication-title {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.5rem; 
    }
    
    .publication-authors {
        font-size: 0.7rem;
        margin-bottom: 0.5rem; 
    }

    .publication-link {
        font-size: 0.8rem;
        color: #0073e6; 
        text-decoration: none;
    }
}


@media (max-width: 768) {   
    .publication-page-title {
        font-size: 1.6rem;
    }

    .publication-item {
        flex-direction: column;
        align-items: center; /* Center image and details */
    }

    .publication-details {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .publication-info {
        font-size: 0.7rem;
        font-weight: 450;
        margin-bottom: 0.4rem; 
    }
    
    .publication-title {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.5rem; 
    }
    
    .publication-authors {
        font-size: 0.8rem;
        margin-bottom: 0.5rem; 
    }


    .publication-link {
        font-size: 0.6rem;
        color: #0073e6; 
        text-decoration: none;
    }
}